# Ambiente virtual
.venv/

# Variáveis de ambiente
.env

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# Arquivos de banco de dados

data/sessions.db
data/sessions.db-shm
data/sessions.db-wal