# Ambiente virtual
.venv/

# Variáveis de ambiente
.env

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# Testes / coverage
.coverage
htmlcov/
.pytest_cache/
coverage.xml
*.cover

# Arquivos de banco de dados

data/sessions.db
data/sessions.db-shm
data/sessions.db-wal
sessions.db
sessions.db-shm
sessions.db-wal
*.db
*.db-shm
*.db-wal